{% extends 'base.html' %}
{% block title %}
Information
{% endblock %}

{% block content %}

<div class="p-3 rounded" style='margin:0 auto;width:60%;'>
    <h2 style="text-align:center;" class='p-2'>Information</h2>
    {% include 'modal/user/delete.html' %}
    <form class="" action="" method="post">
        <table style='margin:0 auto;'>
            {{ info_form.hidden_tag() }}
            <tr class="row">
                <td class="col">
                    {{ info_form.email.label() }}
                </td>
                <td class="col">
                    {{ info_form.email(value=current_user.email, disabled=True) }}
                </td>
            </tr>
            <tr class="row">
                <td>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#modal-delete-account-{{ current_user.id }}" class="btn text-danger pe-1 pt-1 pb-2" style="width:100%;text-align:right;">Delete Account</button>
                </td>
            </tr>
            <tr class="row">
                <td class="col">
                    {{ info_form.name.label }}
                </td>
                <td class="col">
                    {{ info_form.name(value=current_user.name) }}
                </td>
            </tr>
            <tr class="row">
                <td class="col">
                    {{ info_form.budget.label }}
                </td>
                <td class="col">
                    {{ info_form.budget(value='$' + current_user.get_budget) }}
                </td>
            </tr>
            <tr class="row">
                <td class="col">
                    <label for="">Password</label>
                </td>
                <td class="col">
                    <input type="password" name="new_password" placeholder="*****">
                </td>
            </tr>
            <tr class="row mt-2">
                <td class="col">
                    {{ info_form.submit(value='Edit', style='height:100%;width:100%;') }}
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
